include README.rst
include LICENSE-2.0.txt
include ipf/etc/ipf/ca_certs.pem
include ipf/etc/ipf/logging.conf
include ipf/etc/ipf/workflow/xsede/*.json
include ipf/etc/ipf/workflow/xsede/glue2/*.json
include ipf/etc/init.d/ipf-WORKFLOW
include ipf/var/ipf/README.txt
include ipf/var/log/ipf/README.txt
